/*
Theme Name: GTG Tamplate
Theme URI: -- 
Author: the CitrusBug Team
Author URI: -- 
Description: -- 
*/

@charset "utf-8";
/* CSS Document */
/* #Reset & Basics
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
body {
	line-height: 1
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clr {
	clear:both;
}
.alignleft {
	float: left;
	margin:0 20px 20px 0px;
}
.alignright {
	float:right;
	margin:0 0 20px 20px;
}
.txtleft {
	text-align:left
}
.txtcenter {
	text-align:center!important;
}
/* #Basic Styles
================================================== */
html,body {margin:0 auto; padding:0; height:100%; }
body {
	background:#fff;
	font-size:12px;
	color: #222;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	font-family: 'PT Sans', sans-serif;
}
/* #Typography
================================================== */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
em {
	font-style: italic
}
strong {
	font-weight: 700;
}
/*    Blockquotes  */
blockquote, blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote {
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}
blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}
blockquote cite:before {
	content: "\2014 \0020"
}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color: #555
}
hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}
/* #Links
================================================== */

a, a:visited {
	text-decoration: none;
	outline: 0;/*-webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;*/
}
a:hover, a:focus {
	text-decoration: none;
	outline:none;
}
img:hover { outline:none;}
p a, p a:visited {
	line-height: inherit
}
/* #Lists
================================================== */
ul, ol {
	margin:0
}
ul {
	list-style: none outside
}
ol {
	list-style: decimal
}
ol, ul.square, ul.circle, ul.disc {
	margin-left: 30px
}
ul.square {
	list-style: square outside
}
ul.circle {
	list-style: circle outside
}
ul.disc {
	list-style: disc outside
}
ul ul li, ul ol li, ol ol li, ol ul li {
	margin: 0;
	padding:0;
}
li {
	line-height: 18px;
}
/* #Images
================================================== */
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

/* #Buttons
================================================== */

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner, ::-moz-focus-inner {
border: 0;
padding: 0;
}

/* custom css */
#wrapper { margin:0 auto; padding:0; position:relative;height:auto !important; height:100%; min-height:100%;}

.banner-container {margin: 0px 0 0 0;padding: 0;position: relative;}
.fluid_container { margin: 0 auto; max-width: 100%; width: 100%; }
.banner-container .camera_caption > div { background-color:transparent!important;}
.banner-container .camera_caption { width:100%; top:36%; left:auto; right:auto;}

.banner-container .camera_caption h3 { margin:0; padding:10px 0; color:#fff; font-size:16px; text-transform:uppercase;}
.banner-container .camera_caption h2{ margin:0; padding:10px 0; color:#fff; font-size:24px; text-transform:uppercase; font-weight:700; line-height:32px;}
.banner-container .camera_caption p{ margin:0; padding:10px 0; color:#d4d4d4; font-size:16px; line-height:24px;}

/* .banner-container .banner-div { margin:0; padding:0; position:relative; z-index:2;} */
/* .banner-container .banner-div .banner-caption{ margin:0px 0 0 0; padding:0; position:relative;} */
/* .banner-container .banner-div .banner-caption .line{ margin:0 auto; padding:0; position:relative; background:#fff; height:1px; text-align:center; width:15%; } */
/* .banner-container .banner-div .banner-caption h2{ margin:25px 0; padding:0;font-size:65px; color:#fff; font-weight:900; text-align:center; text-transform:capitalize;letter-spacing:6px;} */
/* .banner-container .banner-div .banner-caption p {margin: 0;padding: 0 25%;font-size: 20px;color: #fff;text-align: center;line-height: 35px;font-weight: 600;letter-spacing: 1px;} */
/* .banner-container .banner-div .banner-img{ margin:0; padding:0; position:relative;} */
/* .banner-container .banner-div .banner-img img { background-size:cover;} */

/*===== banner - changes ======*/

.banner-container .banner-div { margin:0; padding:0; position:relative; }
/* .banner-container .banner-div .banner-caption{margin:0 auto; padding:0; position:absolute;z-index:1000;top:35%;width:100%;} */
.banner-caption h2{ margin:25px 0; padding:0;font-size:65px; color:#fff; font-weight:900; text-align:center; text-transform:capitalize;letter-spacing:6px;}
.banner-caption p {margin: 0;padding: 0 25%;font-size: 20px;color: #fff;text-align: center;line-height: 35px;font-weight: 600;letter-spacing: 1px;} 

.header-div{ margin:0; padding:0px; position:fixed; top:0; left:0; width:100%; z-index:10;background-color: transparent;height: 178px; }
.header-div-all{ margin:0; padding:0px; position:fixed; top:0; left:0; width:100%; z-index:10;height: 130px; }


/* .logo-div { margin:0; padding:0; position:absolute; float:left;top:25px; z-index:15;} */
.nav-div { margin:0px 0 0 0; padding:0; position:relative; float:right;}
.nav-div .navbar { margin:0; padding:0; min-height:auto;}
.nav-div .navbar-nav {
    margin: 30px 0 0 0;
    padding: 0;
    float: left;
}

.nav-div .navbar-nav > li > a {
    margin: 0 20px;
    /* padding: 25px 0px 10px 0px; */
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #000;
    text-transform: capitalize;
	line-height: normal!important;
}

.nav-div .navbar-nav > li.active a {
    /* padding: 0; */
    padding: 0 0 15px 0px !important;
    background-image: url(images/border-nav.png)!important;
    background-position: bottom center!important;
    background-repeat: no-repeat!important;
	background-size: 50% 15%!important;
	color:#771351;
}	


/* .nav-div .navbar-nav > li.active a { color:#771351;border-bottom: 2px solid #000;} */
.nav-div .navbar-nav > li > a:hover, .nav-div .navbar-nav > li > a:focus { background-color:transparent!important;color:#771351;}

.nav-div .navbar-nav > li.active .dropdown-menu { background:#fff!important;}
.nav-div .dropdown-menu > li > a {color:#243182!important; border-bottom:1px solid #ddd!important;font-size:13px; background:#fff!important; padding:10px;}
.nav-div .dropdown-menu > li:last-child > a { border-bottom:0!important;}
.nav-div .dropdown-menu > li > a:focus, .nav-div .dropdown-menu > li > a:hover {background:#e2272e!important; color:#fff!important;}
.nav-div .navbar-nav .collapsible ul.sm-nowrap > li > a {color:#243182; font-size:13px!important; text-transform:none!important;}
.nav-div .navbar-nav > li.active .dropdown-menu > li > a{ color:#243182; font-size:13px!important; text-transform:none!important;}

/* .logo-img{box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.25);} */

.content-area { margin:0px 0 0 0; padding:0; position:relative; z-index:1;}
.block-title-div{ margin:0 0 40px 0; padding:0;}
.block-title-div .line{  margin:0; padding:0; position:relative; background:#e2272e; height:1px; width:15%; }
.block-title-div h2{ margin:20px 0 0 0; padding:0; color:#041e42; font-size:32px; font-weight:700; text-transform:uppercase; letter-spacing:5px;}
.intro-div { margin:0; padding:0 0 40px 0; position:relative; z-index:10;}
.intro-div h3{ margin:70px 0 0 0; padding:0 20px 0 0; color:#041e42; font-size:32px; font-weight:700; text-transform:uppercase; line-height:40px; letter-spacing:2px; background:url(images/trans-logo.png) center center no-repeat;}
.intro-div p{ margin:0 0 20px 0; padding:0; color:#041e42; font-size:14px; line-height:24px; font-weight:300;}

/* footer div */

.footer-div{ margin:0; padding:60px 0 40px 0; position:relative; background:#000000;	}
.footer-div .footer-top{ margin:0; padding:0 0 20px 0;}
.footer-div .footer-top h3{
	margin:0 0 30px 0; padding:0 0 10px 0;color:#fff; font-size:22px; text-transform:uppercase; font-weight:400;letter-spacing:1px;line-height: 1.6;
	padding: 0 0 10px 0px !important;
    background-image: url(images/border-2linewhite.png)!important;
    background-position: bottom left!important;
    background-repeat: no-repeat!important;
	background-size: 50% 10%;
}
.border-line-1{
	background-size: 20% 10%!important;
}
.border-line-2{
	background-size: 40% 10%!important;
}

.footer-div .footer-top ul{ margin:0; padding:0 10px 0 20px; list-style:none;list-style-image: url('../ul-li.png');}
.footer-div .footer-top ul li { margin:0; padding:0 0 0 10px; color:#fff; font-size:13px;list-style:none; font-weight:600; line-height:24px;list-style-image: url(images/ul-li.png);}
.footer-div .footer-top ul li a{ color:#fff;font-weight: 400;}
.footer-div .footer-top ul li a:hover { color:#fff; border-bottom:1px solid #fff;}
.footer-div .footer-top p { margin:0; padding:0; color:#fff; font-size:14px; font-weight:400; line-height:24px;}
.footer-div .footer-top p a{ color:#707070;font-weight: 600;}
.footer-div .footer-top p a:hover { color:#fff; border-bottom:1px solid #fff;}
.footer-div .social-icon{margin:20px 0 0 0; padding:0px 0 0 0; position:relative;}
.footer-div .social-icon a:hover { color:#fff; border:0px solid #fff!important;}
.footer-div i.fab {padding: 10px 10px;margin:0 8px 0 0;text-align:center;background: #444444;width: 31px;height: 31px;border-radius: 24px;color: #fff;border: none;font-weight: 400;transition: all .3s ease-in-out;}
.footer-div i.fab:hover {background: #fff;color: #444444;}

.footer-div .white-line{margin: 0px 0 25px 0;padding: 0;position: relative;background: #fff;height: 1px;width: 55%;border-radius: 50em;}

.footer-div .footer-btm{ margin:0; padding:25px 0;background-color: #0b0b0b;}
.footer-div .footer-btm .copy-txt{ margin:0; padding:0; display:inline-block; float:left;color:#707070; font-size:13px; font-weight:600;}
.footer-div .footer-btm .footer-social{ margin:0; padding:0; display:inline-block; text-align:right; float:right;}
.footer-div .footer-btm .footer-social a{ margin:0 0 0 10px; background:#05295a; border-radius:100%; width:40px; height:40px; display:inline-block; color:#fff; font-size:14px; text-align:center; line-height:40px;}
.footer-div .footer-btm .footer-social a:hover { background:#fff; color:#05295a;}

/* end of footer */

/* ============ ======================= =========================== */

#back-to-top { margin:0; padding:0; position:absolute; left:50%; right:auto; bottom:20px; cursor:pointer;}
#back-to-top span { margin:0; padding:0; position:relative; border-radius:100%; width:40px; height:40px; text-align:center; line-height:40px; color:#05295a; font-size:18px; font-weight:700; background:#fff; display:inline-block;}

.down-arrow-div { margin:0 auto; padding:0; position:absolute; bottom: 75px; left:0; right:0; text-align:center; width:23px; z-index:10; cursor:pointer;}
.down-arrow-div .down-arrow {
    margin: 0 auto;
    padding: 0;
    /* background: url(images/down-arrow.png) no-repeat;
    width: 33px;
    height: 45px; */
    display: block;
    text-align: center;
}

.inner-banner-container{ margin:0 auto; padding:0; position:relative; background:#041e42 url(images/inner-header-bg.jpg) no-repeat center center; height:200px;}
.inner-banner-div { margin:100px auto 0 auto; padding:30px 0 40px 0; position:relative; border-top:1px solid #1b3c69;}
.inner-banner-div h3 { margin:0; padding:0; color:#fff; font-size:22px; text-transform:uppercase;}

.company-img-div { margin:0; padding:0; position:absolute; right:0; top:0; width:50%; z-index:1;}
.w-100 { width:100%;}
.products-list-container  { margin: :0; padding:0; position: relative;}

.camera_wrap, .fluid_container { height:700px;}

.general-txt-container { margin:0; padding:0 0 50px 0; position:relative;}

.general-txt-container .general-block-div{ margin:0; padding:0; position:relative;}
.general-txt-container .img-div { margin:0 0 20px 0; padding:0;}
.general-txt-container .desc-div{ margin:0; padding:0;}
.general-txt-container .desc-div h3{ margin:0 0 15px 0; padding:0; color:#041e42; font-size:18px; font-weight:700; text-transform:uppercase;}
.general-txt-container .desc-div p{ margin:0 0 15px 0; padding:0; color:#666; font-size:14px; font-weight:300; line-height:24px;}
.general-txt-container .desc-div .sub-ul { margin: 15px 0; padding: 0; color:#666;font-size: 14px; line-height: 24px; font-weight:300; display: block;}
.general-txt-container .desc-div .sub-ul li{ margin: 0 10px 5px 0; padding: 5px 30px; color:#666;font-size: 14px; line-height: 24px; font-weight:300;
	display: inline-block; border-radius: 42px; border:1px solid #ddd;
}
.general-txt-container .desc-div .sub-ul li a{ color:#041e42;}
.general-txt-container .desc-div .sub-ul li a:hover{ color:#e2272e;}

/* start to middle container */

.nopadding{padding: 0!important;}


.btn-readmore {  display: inline-block;padding: 12px 20px;font-size: 16px;font-weight: 600;line-height: 1.4;text-align: center;border: 1px solid transparent;border-radius: 24px;letter-spacing: 1px;background-color: #ca2027;transition: all .3s ease-in-out;}
.btn-readmore:hover{  display: block;padding: 12px 20px;font-size: 16px;font-weight: 600;line-height: 1.4;text-align: center;border: 1px solid transparent;border-radius: 24px;letter-spacing: 1px;background-color: #fff;color: #ca2027;}


/*
.camera_wrap .camera_pag .camera_pag_ul {
    list-style: none;
    margin: 0 auto!important;
    padding: 0;
    width: 100%;
    text-align: center!important;
    position: absolute;
    top: 75%;
}

.camera_wrap .camera_pag .camera_pag_ul li:hover > span {
    background: #ca2027!important;
}
.camera_wrap .camera_pag .camera_pag_ul li {
    background: #fff!important;
}
.camera_wrap .camera_pag .camera_pag_ul li:hover {
    background: #ca2027!important;
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent {
    background: #ca2027!important;
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
    background: transparent!important;
}

.camera_wrap .camera_pag .camera_pag_ul li {
    -webkit-border-radius: 8px!important;
    -moz-border-radius: 8px!important;
    border-radius: 8px!important;
    height: 8px!important;
    margin: 20px 5px!important;
    width: 8px!important;
}

.camera_wrap .camera_pag .camera_pag_ul li > span {
   display:none;
}
*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: #fff;
font-size:14px;
}
::-moz-placeholder { /* Firefox 19+ */
color: #fff;
font-size:14px;
}
:-ms-input-placeholder { /* IE 10+ */
color: #fff;
font-size:14px;
}
:-moz-placeholder { /* Firefox 18- */
color: #fff;
font-size:14px;
}

/*  ============== end of Blog ==================  */


/* end of middle container */

/*****************************************************************************************************************************************************************/

/* gtg */

/*.banner_img{
    background-image: url(images/banner-1.jpg); 
    height: 800px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}*/
.service-page {
    background-image: url(images/banner-1.jpg);
    height: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.service-div{
	background-color: rgba(0, 0, 0, 0.2);
}

.banner-caption h2 {
    margin: 0;
    padding: 0;
    font-size: 60px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0;
}

.logo-div { margin:0; padding:0; position:relative; float:left;margin-top:25px; z-index:15;}
.logo-div-all { margin:0; padding:0; position:relative; float:left;margin-top:10px; z-index:15;}
.logo-div .logo-img{width: 80%;}
.logo-div-all .logo-all{width: 70%;}

.margin-top-180{margin-top:180px;}
.margin-top-150{margin-top:150px;}
.mb-80{margin-bottom:80px!important;}
.pt-0{padding-top:0px!important;}
.bg-black-pure{  background: #eee!important; }
.pl-30{padding-left: 30px!important;}
.pr-30{padding-right: 30px!important;}
.p-30{padding: 30px!important;}

.border-1-white{ border: 1px solid #fff;transition: all 350ms ease-in-out; }
.border-1-white:hover{ border: 1px solid #fff;background-color: #000; }

.banner-content-div{margin:0px 0 0 0;padding:150px 0 0 0;position:relative;}
.banner-content-div h2{margin:0;padding:0;font-size:60px;text-align:left;font-weight:700;}
.color-h2{color:#771351;}
.color-white{color:#fff;}
.btn-div{margin:40px 0 40px 0;padding:0px 0 0 0;position:relative;}
.btn-ready{
    display: inline-block;
    padding: 20px 35px!important;
    font-size: 22px!important;
    font-weight: 400;
    text-align: center;
	background-color:#771351;
	color:#fff;
	text-transform:uppercase;
	letter-spacing:1px;
	border-radius:0px!important;
	transition: all 350ms ease-in-out;
}
.btn-ready:hover{
    background-color:#fff;
	text-transform:uppercase;
	letter-spacing:1px;
	border-radius:0px!important;
	transition: all 350ms ease-in-out;
}

.readmore_section{margin: 0;padding: 0;position: relative;}
.readmore_div{margin: 0;padding: 0;position: relative;}
.readmore_div .bg-1{background-color: rgba(144, 209, 167, 0.9);}
.readmore_div .bg-2{background-color: rgba(199, 230, 161, 0.9);}
.readmore_div .bg-3{background-color: rgba(213, 239, 193, 0.9);}
.readmore_div .image-div{padding: 35px 0;text-align: center;margin: -150px 0 0 0;min-height: 160px;}
.readmore_div .content-div-one{padding: 10px 20px;}
.readmore_div .content-div-one p{font-size: 16px;text-align: center;line-height: 1.4;}

.btn-div-read{margin:0px auto 0px auto;padding:30px 0 30px 0;position:relative;text-align: center;}
.btn-read{
    display: inline-block;
    padding: 15px 30px!important;
    font-size: 14px!important;
    font-weight: 400;
    text-align: center;
	background-color:#6d7a9d;
	color:#fff;
	text-transform:uppercase;
	letter-spacing:1px;
	border-radius:0px!important;
	transition: all 350ms ease-in-out;
}
.btn-read:hover{
    background-color:#fff;
	text-transform:uppercase;
	letter-spacing:1px;
	border-radius:0px!important;
	transition: all 350ms ease-in-out;
}
.btn-div-contact{margin:0px;padding:0px 0 0px 0;position:relative;text-align: left;}
.btn-contact{
    display: inline-block;
    padding: 15px 30px!important;
    font-size: 14px!important;
    font-weight: 400;
    text-align: center;
	background-color:#6d7a9d;
	color:#fff;
	text-transform:uppercase;
	letter-spacing:1px;
	border-radius:0px!important;
	transition: all 350ms ease-in-out;
}
.btn-contact:hover{
    background-color:#fff;
	text-transform:uppercase;
	letter-spacing:1px;
	border-radius:0px!important;
	transition: all 350ms ease-in-out;
}

.btn-div-dollar{margin:0px;padding:0px 0 10px 0;position:relative;text-align: left;}
.btn-dollar{
    display: inline-block;
    padding: 0px!important;
    font-size: 14px!important;
    font-weight: 400;
    text-align: center;
	background-color:#f0f0f0;
	color:#222;
	text-transform:uppercase;
	letter-spacing:1px;
	border-radius:0px!important;
	transition: all 350ms ease-in-out;
}
.btn-dollar i{
padding: 10px;
background-color: #222;
color: #fff;
}
.btn-dollar span{
padding: 0 20px;
}

.btn-dollar:hover{
	background-color:#6d7a9d;
	color: #fff!important;
	text-transform:uppercase;
	letter-spacing:1px;
	border-radius:0px!important;
	transition: all 350ms ease-in-out;
}

.btn-div-time{margin:0px;padding:0px 0 10px 0;position:relative;text-align: left;}
.btn-time{
    display: inline-block;
    padding: 15px 25px 15px 20px!important;
    font-size: 14px!important;
    font-weight: 400;
    text-align: center;
	background-color:#222;
	color:#fff;
	text-transform:uppercase;
	letter-spacing:2px;
	border-radius:0px!important;
	transition: all 350ms ease-in-out;
	margin: 0 12px 0 0;
}
.btn-time i{
	padding: 0 5px;
}
.color-btn-bg-active{background-color:#6d7a9d!important;}
.color-btn-bg-active:hover{background-color:#222!important;}


.btn-time:hover{
	background-color:#6d7a9d;
	color: #fff!important;
	text-transform:uppercase;

	border-radius:0px!important;
	transition: all 350ms ease-in-out;
}

.btn-donation{
    display: block;
    padding: 15px 30px!important;
	margin: 0 0 20px 0;
	font-size: 14px!important;
    font-weight: 400;
    text-align: center;
	background-color:#6d7a9d;
	color:#fff!important;
	text-transform:uppercase;
	letter-spacing:2px;
	border-radius:0px!important;
	cursor:none;
	pointer-events: none;
	transition: all 350ms ease-in-out;
}
.btn-donation:hover{
	background-color:#222;
	color: #fff;
	text-transform:uppercase;
	border-radius:0px!important;
	transition: all 350ms ease-in-out;
}

.btn-donation.bg-white{
	background-color: #f0f0f0;
	color: #222!important;
	margin:0 -10px;
}

.mb-10{padding: 10px 0 10px 0;}



/*  ============== difference_section ==================  */

.difference_section{margin: 0;padding: 0;position: relative;}
.difference_div{margin: 0;padding: 100px 0 50px 0;position: relative;}
.difference_div h2{margin:0 0 40px 0; padding:10px 0; color:#222222; font-size:42px; text-transform:uppercase;font-weight: 400;letter-spacing: 1px;}
.difference_div .border-star {
    font-weight: 700;
    color: #771351;
    letter-spacing: 2px;
}

.difference_div .difference_content {margin: 0;padding: 0 50px;position: relative;}
.difference_div .difference_content h2{margin: 0 0 50px 0;padding: 0;font-size: 32px;color: #222222;font-weight: 400;text-transform: capitalize;}
.difference_div .difference_content p{margin: 0;padding: 0 0 40px 0;font-size: 16px;color: #555555;font-weight: 400;line-height: 1.4;letter-spacing: 1px;}

.img-responsive.img-right{text-align: right;margin: 0;float: right; }
.img-responsive.img-center{text-align: center;margin: 0 auto;    width: 100%;}
.img-responsive.img-left{text-align: left;margin: 0;float: left; width: 100%;}
.img-right-div{text-align: right;width: 100%;}


/*  ============== end of difference_section ==================  */

/*  ============== services_section ==================  */

.services_section{margin: 0;padding: 0;position: relative;}
.services_div{margin: 0;padding: 50px 0 100px 0;position: relative;}
.services_div h2{margin:0 0 40px 0; padding:10px 0; color:#222222; font-size:42px; text-transform:uppercase;font-weight: 400;letter-spacing: 1px;}
.services_div .border-star{font-weight: 700;color: #771351;}
.services_div .services_content {margin: 0px 0 0 0;padding: 0 0px;}
.services_div .services_content .div-1{margin: 0;padding: 80px 30px 80px 40px;min-height:500px;background:rgba(0, 0, 0, 0.8);color: #fff;transition: all 350ms ease-in-out;}

.bg-none{background: none!important;}

.services_div .services_content .div-1 h3{
	margin: 0px 0 0px 0;padding: 0;font-size: 32px;font-weight: 400;text-transform: uppercase;letter-spacing: 1px;
	padding: 0 0 15px 0px;
    background-image: url(images/border-2linewhite.png);
    background-position: bottom left!important;
    background-repeat: no-repeat!important;
    background-size: 20% 10%;
}
.carousel .item .img-box {
    margin: 20px auto!important;
}

/* service page */

.h3-service{
	color: #222;    
	margin: 0px 0 0px 0;
    padding: 30px 0 10px 0px !important;
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
	background-image: url(images/border-2line.png)!important;
    background-position: bottom left!important;
    background-repeat: no-repeat!important;
	background-size: 25% 6%!important;
}
.p-service{color:#222;}
.p-50{padding-top: 50px!important;}

.div-1.p-0.bg-black-pure{padding: 0px 30px 00px 40px!important;}

.service-page .services_div .services_content .div-1 p {
    margin: 0;
    padding: 20px 0 20px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 1px;
}
.mb-15{margin-bottom: 15px!important;}
.ptb-15{padding-top: 0px!important;padding-bottom: 0px!important;}
.pb-15{padding-bottom: 15px!important;}
/* end of service page */




/* .services_div .services_content .div-1 .h3-hero {
    display: block;
    position: absolute;
    background-image: none!important;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
} */
.services_div .services_content .div-1 .h3-hero {
    display: block;
    position: relative;
    background-image: none!important;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.services_div .services_content .div-1 p{margin: 0;padding: 30px 0 40px 0;font-size: 16px;font-weight: 400;line-height: 1.4;letter-spacing: 1px;}
.services_div .services_content .div-2{display:block;background-color: #000;background-image: url(images/service-2.jpg);background-position: top center;background-repeat: no-repeat;background-size: cover;min-height: 500px;}
.services_div .services_content .div-3 {display:block; background-color: #000;background-image: url(images/service-3.jpg);background-position: top center;background-repeat: no-repeat;background-size: cover;min-height: 500px;}

.bg-black-img, .bg-black-img-1{background-image: #000 url(images/service-1.jpg);background-position: top center;background-repeat: no-repeat;background-size: cover;}
.bg-img-2{background-image: url(images/service-2.jpg);background-position: top center;background-repeat: no-repeat;background-size: cover;}
.services_div .div-row{margin: 0;padding: 0;}
.services_div .div-row h3{margin: 0;padding: 25px 15px 5px 15px;font-size:32px;color: #771351;text-transform:uppercase;text-align: center;  }

/*  ============== end of services_section ==================  */

/*  ============== difference_section ==================  */

.donating_section{margin: 0;padding: 0;position: relative;}
.donating_div{margin: 0;padding: 0px 0 50px 0;position: relative;}
.donating_div h2{margin:0 0 40px 0; padding:10px 0; color:#222222; font-size:42px; text-transform:uppercase;font-weight: 400;letter-spacing: 2px;}
.donating_div .border-star{font-weight: 700;color: #771351;letter-spacing: 2px;padding: 0 10px;}
.donating_div .donating_content {margin: 0;padding: 0 0px;position: relative;}
.donating_div .donating_content h2{margin: 0 0 50px 0;padding: 0;font-size: 32px;color: #222222;font-weight: 400;text-transform: capitalize;}
.donating_div .donating_content h3{margin: 0 0 10px 0;padding: 0;font-size: 24px;color: #222222;font-weight: 400;text-transform: capitalize;letter-spacing: 1px;}
.donating_div .donating_content h4{margin: 0 0 10px 0;padding: 20px 0 0 0;font-size: 20px;color: #222222;font-weight: 700;text-transform: uppercase;letter-spacing: 1px;}
.donating_div .donating_content p{margin: 0;padding: 0 0 20px 0;font-size: 16px;color: #555555;font-weight: 400;line-height: 1.4;letter-spacing: 2px;}
.donating_div .donating_content p.pb-10{padding: 0 0 10px 0;}

.row-1 {	margin-right: -5px;margin-left: -15px;	}
.progress {border-radius: 50em!important;}
.donating_div .progress-bar {background-color: #6d7a9d;border-radius: 50em;}

/* radio btn */

.radio-div{margin:0;padding: 15px 0;position: relative;}
.radio-div label{font-size: 16px;color: #222; }

.radio-div [type="radio"]:checked,
.radio-div [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.radio-div [type="radio"]:checked + label,
.radio-div [type="radio"]:not(:checked) + label
{
    position: relative;
	padding-left: 25px;
	padding-right: 20px;
    cursor: pointer;
	line-height: 18px;
	letter-spacing: 1px;
    display: inline-block;
	color: #222;
	font-weight: 400;
}
.radio-div [type="radio"]:checked + label:before,
.radio-div [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #222;
    border-radius: 100%;
    background: #fff;
}
.radio-div [type="radio"]:checked + label:after,
.radio-div [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #222;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.radio-div [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.radio-div [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* end of radio btn */

.text-dollar{
	height: 34px;
	width:150px; 
	padding: 5px 10px;
	border:none;
	background-color: #f0f0f0;
	color: #222;
	outline: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #222;
	letter-spacing: 2px;
  }
::-moz-placeholder { /* Firefox 19+ */
	color: #222;
	letter-spacing: 2px;
  }
:-ms-input-placeholder { /* IE 10+ */
	color: #222;
	letter-spacing: 2px;
  }
:-moz-placeholder { /* Firefox 18- */
	color: #222;
	letter-spacing: 2px;
  }

/* personal-info-div */

.info-div{margin:0;padding: 0;}
.info-div label{font-size: 16px;color: #222;letter-spacing: 2px;text-transform: uppercase;font-weight: 400;padding: 10px 0 0 0;}
.info-div .form-group {
    margin-bottom: 10px;
}

.donating_content .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
	line-height: 1.42857143;
	letter-spacing: 1px;
    color: #222;
    background-color: #f0f0f0;
    border: 1px solid #222;
	border-radius: 0px;
	height: 50px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	font-size: 16px;
}

.donating_content .form-control:focus {
    border-color: #222;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.00), 0 0 8px rgba(102,175,233,.0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.00), 0 0 8px rgba(102,175,233,.0);
}

.donating_content ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #222!important;
	letter-spacing: 2px;
	font-size: 16px;
  }
.donating_content ::-moz-placeholder { /* Firefox 19+ */
	color: #222!important;
	letter-spacing: 2px;
	font-size: 16px;
  }
.donating_content :-ms-input-placeholder { /* IE 10+ */
	color: #222!important;
	letter-spacing: 2px;
	font-size: 16px;
  }
.donating_content :-moz-placeholder { /* Firefox 18- */
	color: #222!important;
	letter-spacing: 2px;
	font-size: 16px;
  }

/* end of personal-info-div */

/*  ============== end of difference_section ==================  */

/* connect_section */

.connect_section{margin: 0;padding: 0;position: relative;}
.connect_div{margin: 0;padding: 100px 0 60px 0;position: relative;}
.connect_div h2{margin:0 0 40px 0; padding:10px 0; color:#222222; font-size:42px; text-transform:uppercase;font-weight: 400;letter-spacing: 2px;}
.connect_div .border-star{font-weight: 700;color: #771351;letter-spacing: 2px;padding: 0 10px;
	border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(border-start.png) 30 round; /* Safari 3.1-5 */
    -o-border-image: url(border-start.png) 30 round; /* Opera 11-12.1 */
    border-image: url(border-start.png) 30 round;

}
.connect_div .connect_content {margin: 0;padding: 0 0px 50px 0;position: relative;}
.connect_div .connect_content h2{margin: 0 0 50px 0;padding: 0;font-size: 32px;color: #222222;font-weight: 400;text-transform: capitalize;}
.connect_div .connect_content h3{margin: 0 0 10px 0;padding: 0;font-size: 24px;color: #222222;font-weight: 400;text-transform: capitalize;letter-spacing: 1px;}
.connect_div .connect_content h4{margin: 0 0 10px 0;padding: 20px 0 0 0;font-size: 20px;color: #222222;font-weight: 700;text-transform: uppercase;letter-spacing: 1px;}
.connect_div .connect_content p{margin: 0;padding: 0 0 20px 0;font-size: 16px;color: #555555;font-weight: 400;line-height: 1.4;letter-spacing: 2px;}
.connect_div .connect_content p.pb-10{padding: 0 0 10px 0;}

.row-1 {	margin-right: -5px;margin-left: -15px;	}

.connect_content .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
	line-height: 1.42857143;
	letter-spacing: 1px;
    color: #222;
    background-color: #fff;
    border: 1px solid #222;
	border-radius: 0px;
	height: 50px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	font-size: 16px;
}

.connect_content textarea.form-control {
	height: 225px;
	resize: none;
}

.connect_content .form-control:focus {
    border-color: #222;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.00), 0 0 8px rgba(102,175,233,.0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.00), 0 0 8px rgba(102,175,233,.0);
}
.connect_content ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #222!important;
	letter-spacing: 2px;
	font-size: 16px;
  }
.connect_content ::-moz-placeholder { /* Firefox 19+ */
	color: #222!important;
	letter-spacing: 2px;
	font-size: 16px;
  }
.connect_content :-ms-input-placeholder { /* IE 10+ */
	color: #222!important;
	letter-spacing: 2px;
	font-size: 16px;
  }
.connect_content :-moz-placeholder { /* Firefox 18- */
	color: #222!important;
	letter-spacing: 2px;
	font-size: 16px;
  }

.color-btn-bg-submit{
	background-color: #771351;
	padding: 10px 15px 10px 15px!important;
	color: #fff;
  }

/* end of connect_section */

/* address_section */

.address_section{margin: 0;padding: 0;position: relative;}
.address_div{margin: 0;padding: 60px 0 60px 0;position: relative;}
.address_div h2{
	margin:0 0 40px 0; padding:10px 0; color:#222222; font-size:42px; text-transform:uppercase;font-weight: 400;letter-spacing: 2px;
	background-image: url(images/border-2line.png)!important;
    background-position: bottom center!important;
    background-repeat: no-repeat!important;
    background-size: 15% 9%!important;
}


.address_div .border-star{font-weight: 700;color: #771351;letter-spacing: 2px;padding: 0 10px;}
.address_div .address_content {margin: 0;padding: 0 0px 50px 0;position: relative;}
.address_div .address_content p{margin: 0;padding: 0 0 20px 0;font-size: 16px;color: #555555;font-weight: 400;line-height: 1.4;letter-spacing: 2px;}
.address_div .address_content p.pb-10{padding: 0 0 10px 0;}
/* .address_div .div-img{ margin: 0;padding: 0;width: 100%;height: 55px;display: table;}
.address_div .div-img .span-1{ margin: 0;padding: 5px 0;width: 25%;float: left; min-height: 50px;vertical-align: middle;display: table-cell;}
.address_div .div-img .span-1 img{ margin: 0 auto;padding: 0;}
.address_div .div-img .span-2 {
    margin: 0;
    padding: 0px 0;
    width: 75%;
    font-size: 16px;
    color: #222;
    line-height: 1.4;
    float: right;
	min-height: 50px;
	display: table-cell;
	vertical-align: middle;
} */
.img-div-icon{margin: 5px 0;}
.address_div .img-div-icon .span-1{ margin: 0;padding: 5px 0;display: block;}
.address_div .img-div-icon .span-1 img{ margin: 0;padding: 0;}
.address_div .img-div-icon .span-2 {
    margin: 0;
    padding: 0px 0;
    font-size: 22px;
    color: #222;
	line-height: 1.4;
	display: block;
}

.address_div .img-div-icon .span-3{ 
	margin: 0px 0;
    padding: 12px 0;
    font-size: 22px;
    color: #222;
	line-height: 1.4;
	display: block;
}


/* end of connect_section */

/* connect_section */

.subscribe_section{margin: 0;padding: 0;position: relative;}
.subscribe_div{margin: 0;padding: 20px 0 5px 0;position: relative;background-color: #771351;}
.subscribe_div h2{margin:0 0 40px 0; padding:10px 0; color:#222222; font-size:42px; text-transform:uppercase;font-weight: 400;letter-spacing: 2px;}
.subscribe_div .border-star{font-weight: 700;color: #771351;letter-spacing: 2px;padding: 0 10px;}
.subscribe_div .subscribe_content {margin: 0;padding: 0 0px 50px 0;position: relative;}
.subscribe_div .subscribe_content h2{margin: 0 0 50px 0;padding: 0;font-size: 32px;color: #222222;font-weight: 400;text-transform: capitalize;}
.subscribe_div .subscribe_content h3{margin: 0 0 10px 0;padding: 0;font-size: 24px;color: #222222;font-weight: 400;text-transform: capitalize;letter-spacing: 1px;}
.subscribe_div .subscribe_content h4{margin: 0 0 10px 0;padding: 20px 0 0 0;font-size: 20px;color: #222222;font-weight: 700;text-transform: uppercase;letter-spacing: 1px;}
.subscribe_div .subscribe_content p{margin: 0;padding: 0 0 20px 0;font-size: 16px;color: #555555;font-weight: 400;line-height: 1.4;letter-spacing: 2px;}
.subscribe_div .subscribe_content p.pb-10{padding: 0 0 10px 0;}

.row-1 {	margin-right: -5px;margin-left: -15px;	}

.subscribe_content .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
	line-height: 1.42857143;
	letter-spacing: 1px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
	border-radius: 0px;
	height: 50px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	font-size: 16px;
}

.subscribe_content .form-control:focus {
    border-color: #222;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.00), 0 0 8px rgba(102,175,233,.0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.00), 0 0 8px rgba(102,175,233,.0);
}
.subscribe_content ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #fff!important;
	letter-spacing: 2px;
	font-size: 16px;
	font-style: italic;
}
.subscribe_content ::-moz-placeholder { /* Firefox 19+ */
	color: #fff!important;
	letter-spacing: 2px;
	font-size: 16px;
	font-style: italic;
}
.subscribe_content :-ms-input-placeholder { /* IE 10+ */
	color: #fff!important;
	letter-spacing: 2px;
	font-size: 16px;
	font-style: italic;
}
.subscribe_content :-moz-placeholder { /* Firefox 18- */
	color: #fff!important;
	letter-spacing: 2px;
	font-size: 16px;
	font-style: italic;
}

.color-btn-bg-submit{
	background-color: #771351;
	padding: 10px 15px 10px 15px!important;
	color: #fff;
  }

.btn-subscribe{
	background-color: #6d7a9d;
	color: #fff;
	padding: 14px 40px!important;
	border: 1px solid #222!important;
	border-radius: 0!important;
	letter-spacing: 2px;
	text-align: center;
}

/* end of connect_section */

/* footer */

.footer-div .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
	line-height: 1.42857143;
	letter-spacing: 1px;
    color: #fff;
    background-color: transparent;
	border: 1px solid #fff;
	border-right: transparent;
	border-radius: 0px;
	height: 50px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	font-size: 16px;
}

.footer-div .form-control:focus {
    border-color: #222;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.00), 0 0 8px rgba(102,175,233,.0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.00), 0 0 8px rgba(102,175,233,.0);
}
.footer-div ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #898989!important;
	letter-spacing: 2px;
	font-size: 16px;
	font-style: italic;
}
.footer-div ::-moz-placeholder { /* Firefox 19+ */
	color: #898989!important;
	letter-spacing: 2px;
	font-size: 16px;
	font-style: italic;
}
.footer-div :-ms-input-placeholder { /* IE 10+ */
	color: #898989!important;
	letter-spacing: 2px;
	font-size: 16px;
	font-style: italic;
}
.footer-div :-moz-placeholder { /* Firefox 18- */
	color: #898989!important;
	letter-spacing: 2px;
	font-size: 16px;
	font-style: italic;
}

.color-btn-bg-submit{
	background-color: #771351;
	padding: 10px 15px 10px 15px!important;
	color: #fff;
  }

.btn-sign-up{
	background-color: #6d7a9d;
	color: #fff;
	padding: 14px 25px!important;
	border: 1px solid #fff!important;
	border-left:transparent;
	border-radius: 0!important;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;

}

/* end of footer */

/*	testimonial_section	*/

/* .testimonial_section{margin:0 auto;padding:0;position: relative;
	background-image: url();
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
	min-height: 700px;
} */



/* end of testimonial_section */

.testimonial_section{margin: 0;padding: 0;position: relative;}
.testimonial_div{display:block;background-color: #000;background-image: url(images/testimonial.jpg);background-position: top center;background-repeat: no-repeat;background-size: cover;min-height: 700px;}
.testimonial_div h2{margin:50px 0 100px 0; padding:10px 0; color:#fff; font-size:42px; text-transform:uppercase;font-weight: 400;letter-spacing: 1px;}
.testimonial_div .border-star{font-weight: 700;color: #6d7a9d;}

.bg-black-img{background-image: url(images/service-1.jpg);background-position: top center;background-repeat: no-repeat;background-size: cover;}
.bg-black-img-2{background-image: url(images/service-2.jpg);background-position: top center;background-repeat: no-repeat;background-size: cover;}
.bg-black-img-3{background-image: url(images/service-3.jpg);background-position: top center;background-repeat: no-repeat;background-size: cover;}

.bg-img-2{background-image: url(images/service-2.jpg);background-position: top center;background-repeat: no-repeat;background-size: cover;}
.services_div .div-row{margin: 0;padding: 0;}
.services_div .div-row h3{margin: 0;padding: 25px 15px 10px 15px;font-size:32px;color: #771351;text-transform:uppercase;text-align: center; 
    
    background-image: url(images/border-2line.png)!important;
    background-position: bottom center!important;
    background-repeat: no-repeat!important;
    background-size: 25% 9%!important;
}

.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
    width: 135px;
    height: 135px;
    margin: 0 auto;

    border: 1px solid #fff;
    border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
    padding: 40px 75px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 400;
    min-height: 210px;
    line-height: 1.6;
    text-align: center;
}
.carousel .overview {	
	margin: 0;
	letter-spacing: 1px;
}
.carousel .overview .span-1 {
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;

}
.carousel .overview .span-2 {
	text-transform: capitalize;
	color: #6d7a9d;
	font-size: 20px;
	padding: 0 10px;
}

.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 45%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
    line-height: 42px;
    position: absolute;
    display: inline-block;
    color: #696969;
    left: 0;
}
.carousel .carousel-indicators {
    bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	padding: 2px;
}
.carousel-indicators li.active {	
	background: #fff;		
	
}

/* end of testimonial_section */

.logo-img{width:100%;}

.border-star {
    font-weight: 700;
    color: #771351;
    letter-spacing: 2px;
    padding: 0 0 25px 0px !important;
    background-image: url(images/border-start.png)!important;
    background-position: bottom center!important;
    background-repeat: no-repeat!important;
    background-size: 100%!important;
}
.testimonial_div .border-star {
    font-weight: 700;
	padding: 0 0 30px 0px !important;
    background-image: url(images/border-start-white.png)!important;
    background-position: bottom center!important;
    background-repeat: no-repeat!important;
    background-size: 100%!important;
}

/* WHY CHOOSE US */

.border-star-1 {
    font-weight: 700;
    color: #771351;
    letter-spacing: 2px;
    padding: 0 0 25px 10px !important;
    background-image: url(images/border-start.png)!important;
    background-position: bottom center!important;
    background-repeat: no-repeat!important;
    background-size: 58%!important;
}
.p-why{ padding: 10px;margin: 10px;line-height: 1.4;font-weight: 400;font-size: 16px;letter-spacing: 1px; }
.pt-60{padding-top: 60px;}

/* end of WHY CHOOSE US */

/* contact-us Page */

.contact-us-div{ padding: 0px 0!important; }
.map-div{width: 100%;height: 500px;}
.mb-20{margin-bottom:20px!important; }
.color-con{color: #771351!important;}
.b-space{width: 120px;display: inline-block;text-align: left;}
#map {
	height: 600px;
}

/* end of contact-us */

/*********************************************************************************************************************************************************************/

@media only screen and (max-width: 767px){
	/* html, body { overflow-x:hidden;} */
	.container { width:100% !important;}
	
	.canvas { margin:0!important; padding:0!important;}

	.header-div { position: relative;background-color:transparent; z-index:100; padding-bottom:15px;}
	.header-div .logo-div img { width:80%;}

	.nav-div { position: absolute; top:10px; right:0; margin: 0; padding: 0;}

	header .navbar-collapse { background: #fff;}
	.navbar-toggle .icon-bar { background:#fff;}
	.navbar-toggle { margin:10px 0 0 0!important; top:-5px;}
	.nav-div .navbar { margin:0; padding:0; width:100%;border: 0px solid transparent;}
	.nav-div .navbar-nav > li > a { padding:10px; color:#243182;}
	.nav-div .navbar-nav > li > a .caret { display:none;}
	.navbar-nav .sub-arrow, .navbar-nav .collapsible .sub-arrow { color:#222; font-weight:normal; font-size:13px;}
	.has-submenu:after {	color: #222!important;content: "\f067";font-family: 'FontAwesome';font-size: 13px!important;position: absolute;font-weight:normal;right: 20px;}
	
	.banner-container .banner-div .banner-caption{top:10%;width:100%;}
	.banner-container .banner-div .banner-caption { margin-top:0px;}
	.banner-container .banner-div .banner-caption h2 { font-size:24px;line-height:1.4;}
	.banner-container .banner-div .banner-caption p {font-size: 14px;line-height: 24px;padding: 0 10px;}
	
	.find_div {	margin: 20px!important;padding: 10px;position: relative;background: rgba(0, 0, 0, 0.8);font-size: 16px;border-radius: 20px;height: 170px;}
	.nopadding-xs{padding:0px!important;}
	
	/* .banner-container .banner-div .banner-caption { margin-top:50px;} */
	/* .banner-container .banner-div .banner-caption h2 { font-size:24px;} */
	/* .banner-container .banner-div .banner-caption p {font-size: 14px;line-height: 24px;padding: 0 10px;} */
	
	.camera_wrap, .fluid_container { height:600px!important;}

	.camera_wrap .camera_pag .camera_pag_ul li {z-index:10;}
	
	.intro-div h3 { font-size: 24px; line-height: 28px; padding: 20px 0;}
	
	.footer-div .footer-top h3 { margin: 20px 0;}
	.footer-div .footer-btm { padding: 20px;}
	.footer-div .footer-btm .copy-txt { margin-bottom: 10px;}
	#back-to-top { left:10px}
	.inner-banner-container { height:auto ;  background-size: cover;}
	.inner-banner-div { padding: 20px; margin: 0;}
	
	/* banner and header */

	.banner-container {margin: 0px 0 0 0;padding: 0;position: relative;}
	
	.navbar-header {float: none;padding: 12px;}
	.banner-container .camera_caption {width: 100%;top: 3%;left: auto;right: auto;}
	.round-black {border-right: 1px solid rgba(255, 255, 255, 0);}
	.round-black-1 {border-right: 1px solid rgba(255, 255, 255, 0);padding: 20px 0;}

	/* middle container */

	.our_philosophy_div h2 {
		font-size: 32px;
	}
	.our_philosophy_div .middle-center {
		padding: 0;
	}
	.who_we_are_div .right-div {
		padding: 50px 25px;
	}
	.what_we_do_div .card-div h3 {
		margin: 0;
		padding: 10px 0px;
		color: #fff;
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 600;
	}
	.what_we_do_div .border-lr {
		padding: 40px 15px;
		border-left: 1px solid rgba(255, 255, 255, 0.0);
		border-right: 1px solid rgba(255, 255, 255, 0.0);
	}
	.what_we_do_div .card-div h3 {
		text-align: left;
	}

	.who_we_are_section .whoweare-img {
		position: relative;
		float: none;
		top: 0;
		width: 100%;
		height: auto;
	}
	.who_we_are_div .right-div .red-line-left {
		margin: 15px 0 30px 0;
		width: 95px;
	}
	.our_philosophy_div .red-line {
		margin: 15px auto 30px auto;
		width: 95px;
	}
	.what_we_do_div .red-line {
		margin: 15px auto 30px auto;
		width: 95px;
	}
	.camera_wrap .camera_pag .camera_pag_ul {
		position: absolute;
		top: 80%;
	}
	.icon-scroll {
		top: 50%;
		margin-top: 10px;
	}
	.who_we_are_section .thinking-img {
		position: relative;
		float: none;
		top: 0;
		width: 100%;
		height: auto;
	}
	.col-4{
		margin:0 0 30px 0;
		padding:0px 0;
	}
	.latest_blog_div .red-div {
		top: 0;
		right: 0;
	}
	.footer-div .footer-top h3 {
		margin: 20px 0 25px 0;
		font-size: 16px;
	}
	
	.nav-div .navbar-nav > li.active a {
		padding: 10px !important;
		background-image: none!important;
		background-position: bottom center!important;
		background-repeat: no-repeat!important;
		background-size: 50% 15%!important;
		color: #771351;
	}
	.navbar-collapse{
		overflow-y: auto;
		margin: 0;
	}
	.nav-div .navbar-nav > li > a {
		padding: 10px;
		color: #000;
	}
	.logo-img {
		box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.25); z-index:99;
	}
	/* end of middle container */
	
	.who_we_are_section, .who_we_are_div { height:auto;}
	
	/* .nav-div .navbar-nav {    margin: 0;    padding: 70px 0 20px 0;} */
	.nav-div .navbar-nav {    margin: 0;    padding: 20px 0 20px 0;}
	.latest_blog_section {
		margin: 40px 0px;
		background: #eee;
		padding: 15px 0;
		position: relative;
	}

	/*********************************************************************************************************************/

	.header-div {	position: relative;background-color: transparent;z-index: 100;padding-bottom: 15px;}
	.navbar-toggle {
		float: right;
		margin-top: 20px;
		margin-right: 9px;
		background: #000000!important;
		border: 0;
		border-radius: 4px!important;
	}
	.logo-img {
		box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.0);
		z-index: 99;
	}
	/* .header-div .logo-div img {
		width: 50%;
	} */
	.navbar-header {
		float: none;
		padding: 20px;
	}

	/*.banner_img {
		background-image: url(images/banner-1.jpg);
		height: 300px;
		background-position: 43%;
		background-repeat: no-repeat;
		background-size: cover;
	}*/
	
	.readmore_div .image-div {
		padding: 35px 0;
		text-align: center;
		margin: 0px 0 0 0;
		min-height: 160px;
	}
	.readmore_div {
		margin: 0;
		padding: 30px 5px;
		position: relative;
	}
	.readmore_div .bg-1 {
		background-color: rgba(144, 209, 167, 1);
		margin-bottom: 25px;
	}
	.readmore_div .bg-2 {
		background-color: rgba(199, 230, 161, 1);
		margin-bottom: 25px;
	}
	.readmore_div .bg-3 {
		background-color: rgba(213, 239, 193, 1);
		margin-bottom: 25px;
	}
	.header-div {
		margin: 0;
		padding: 0px;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
		background-color: transparent;
		height: 80px;
	}
	.logo-div {
		margin-top: 10px;
	}
	.margin-top-180{margin-top: 0;}
	.banner-content-div {
		margin: 0px 0 0 0;
		padding: 105px 0 0 0;
		position: relative;
	}
	.banner-content-div h2{font-size: 24px;margin: 10px 0 0 0;}

	.btn-ready {
		padding: 10px 15px !important;
		font-size: 14px!important;
	}
	.btn-div {
		margin: 20px 0 10px 0;
		padding: 0px 0px 0 0;
		position: relative;
	}
	.difference_div h2 {
		margin: 0 0 20px 0!important;
		font-size: 14px!important;
		text-align: center!important;
	}
	.difference_div .difference_content {
		margin: 0;
		padding: 0 15px;
		position: relative;
	}
	difference_div .difference_content h2 {
		margin: 0 0 20px 0!important;
		padding: 0;
		font-size: 14px!important;
		text-align: center;
	}
	.difference_div {
		margin: 0;
		padding: 20px 0 50px 0;
		position: relative;
	}
	.services_div .div-row h3 {
		margin: 0 10px 10px 10px;
		padding: 10px 15px 15px 15px;
		font-size: 32px;
		color: #771351;
		text-transform: uppercase;
		text-align: center;
	}
	.services_div h2{
		font-size: 22px;
	}
	.donating_div h2 {
		color: #222222;
		font-size: 22px!important;
	}
	.donating_div .donating_content h3 {
		font-size: 14px!important;
	}
	.donating_div .donating_content h4 {
		font-size: 16px!important;
	}

	.info-div label {
		font-size: 14px!important;
	}
	.btn-time {
		padding: 15px 25px 15px 20px!important;
		font-size: 14px!important;
		font-weight: 400;
		text-align: center;
		background-color: #222;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 2px;
		border-radius: 0px!important;
		transition: all 350ms ease-in-out;
		margin: 0 12px 0 0;
	}
	.address_div .img-div-icon .span-2 {
		font-size: 14px!important;
	}
	.address_div .img-div-icon .span-1 {
		margin: 0;
		padding: 0;
		display: block;
	}
	.address_div .img-div-icon .span-3 {
		font-size: 14px;
	}
	
	.connect_div {
		margin: 0;
		padding: 50px 0 00px 0;
		position: relative;
	}	
	.connect_div h2 {
		font-size: 22px;
	}
	.address_div h2 {
		font-size: 22px;
	}
	.address_div {
		margin: 0;
		padding: 0px 0 00px 0;
		position: relative;
	}
	.connect_content textarea.form-control {
		height: 88px;
		resize: none;
	}
	.testimonial_div h2 {
		margin: 50px 0 50px 0;
		padding: 10px 0;
		font-size: 22px;
	}
	.carousel .testimonial {
		padding: 0;
		min-height: 210px;
	}
	.carousel .overview .span-1 {
		text-transform: uppercase;
		color: #fff;
		font-size: 14px;
		padding: 10px 0 5px 0;
		text-align: center;
		display: block;
	}
	.carousel .overview .span-2 {
		text-transform: capitalize;
		color: #6d7a9d;
		font-size: 14px;
		padding: 0 10px;
		line-height: 1.4;
		padding: 10px 0 0 0;
	}
	.carousel {
		margin: 50px auto;
		padding: 0 50px;
	}
	.carousel-control.right {
		right: 10px;
		left: auto;
	}
	
	.fixed-header {
		margin: 0;
		padding: 0px;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
		background-color: #6d7a9d!important;
		height: 100px!important;
	}

	.header-div .logo-div img {
		width: 55%;
		padding: 4px;
	}
	.logo-img.img-responsive.logo-img-1{width: 55%;
		padding: 4px;
	}
	.logo-div-all .logo-all {
		width: 50%;
	}

	.header-div {
		background-color: rgba(255, 255, 255, 0);
		height: 105px;
	}
	.footer-div .form-control {
		border-right: 1px solid #fff;
	}
	.btn-sign-up {
		border-left: 1px solid #fff;
	}

	.border-star {
		padding: 0 0 15px 0px !important;
	}
	.testimonial_div .border-star {
		padding: 0 0 18px 0px !important;
	}
	.services_div {
		padding: 50px 0 50px 0;
	}
	.carousel-control i {
		left: 0;
	}
	.btn-subscribe {
		padding: 14px 20px!important;
		border: 1px solid #fff!important;
		border-left: none;
		line-height: 1.4;
	}

	/* service - page */

	.div-1.p-0.bg-black-pure {
		padding: 20px 30px 30px 40px!important;
	}
	.h3-service{font-size: 22px!important;background-size: 20% 3%!important;}
	.mb-80 {
		margin-bottom: 30px!important;
	}
	
	/* end of service page */

	#map {
		height: 300px;
		margin-bottom: 20px;
	}
	.b-space {
		width: auto;
		display: block;
		text-align: left;
	}
	.font-auto{font-size: 14px!important;}
	
	
	/*********************************************************************************************************************/
	
}
@media only screen and (min-width: 320px) and (max-width: 480px) {

	

}
@media only screen and (min-width: 480px) and (max-width: 640px) {

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.container { width:100% !important;}
	/* html, body { overflow-x:hidden;} */
	.canvas { margin:0!important; padding:0!important;}

	.header-div { position: relative;background-color:rgba(4,30,66,10); z-index:100; padding-bottom:15px;}
	.header-div .logo-div img { width:80%;}

	.nav-div { position: absolute; top:10px; right:0; margin: 0; padding: 0;}

	header .navbar-collapse { background: #fff;}
	.navbar-toggle .icon-bar { background:#fff;}
	.navbar-toggle { margin:10px 0 0 0!important; top:-5px;}
	.nav-div .navbar { margin:0; padding:0; width:100%;border: 0px solid transparent;}
	.nav-div .navbar-nav > li > a { padding:10px; color:#243182;}
	.nav-div .navbar-nav > li > a .caret { display:none;}
	.navbar-nav .sub-arrow, .navbar-nav .collapsible .sub-arrow { color:#222; font-weight:normal; font-size:13px;}
	.has-submenu:after {	color: #222!important;content: "\f067";font-family: 'FontAwesome';font-size: 13px!important;position: absolute;font-weight:normal;right: 20px;}
	
	/* .banner-container .banner-div .banner-caption { margin-top:0px;} */
	/* .banner-container .banner-div .banner-caption h2 { font-size:40px;} */
	/* .banner-container .banner-div .banner-caption p {font-size: 14px;line-height: 24px;padding: 0 10px;} */
	/* .camera_wrap, .fluid_container { height:600px!important;} */
	
	.banner-container .banner-div .banner-caption{top:33%;width:100%;margin:0 auto;}
	.banner-container .banner-div .banner-caption { margin-top:0px;}
	.banner-container .banner-div .banner-caption h2 { font-size:40px;line-height:1.4;}
	.banner-container .banner-div .banner-caption p {font-size: 14px;line-height: 24px;padding: 0 10px;}
	
	.camera_wrap, .fluid_container { height:600px!important;} 

	.intro-div h3 { font-size: 24px; line-height: 28px; padding: 20px 0;}
	
	.footer-div .footer-top h3 { margin: 20px 0;}
	.footer-div .footer-btm { padding: 20px;}
	.footer-div .footer-btm .copy-txt { margin-bottom: 10px;}
	#back-to-top { left:10px}
	.inner-banner-container { height:auto ;  background-size: cover;}
	.inner-banner-div { padding: 20px; margin: 0;}
	
	/* banner and header */

	/* .banner-container {margin: 0px 0 0 0;padding: 0;position: relative;}
	.header-div {	position: relative;background-color: #ce363c;z-index: 100;padding-bottom: 15px;}
	.navbar-header {float: none;padding: 12px;}
	.banner-container .camera_caption {width: 100%;top: 30%;left: auto;right: auto;}
	.round-black {border-right: 1px solid rgba(255, 255, 255, 0);}
	.round-black-1 {border-right: 1px solid rgba(255, 255, 255, 0);padding: 10px 0;} */

	.find_div {width: 95%!important;margin: 20px;background: rgba(0, 0, 0, 0.8);font-size: 16px;border-radius: 20px;height:60px;}

	.icon-scroll {
		top: 50%;
		margin-top: 10px;
	}
	.who_we_are_section .thinking-img {
		position: relative;
		float: none;
		top: 0;
		width: 100%;
		height: auto;;
	}
	.col-4{
		margin:0 0 30px 0;
		padding:0px 0;
	}
	.latest_blog_div .red-div {
		top: 0;
		right: 15px;
	}
	.footer-div .footer-top h3 {
		margin: 0px 0;
	}
	.nav-div .navbar-nav > li.active a {
		color: #000;
		border-bottom:0px solid #ca2027;
	}
	.navbar-collapse{
		overflow-y: auto;
		margin: 0px 0;
	}
	.nav-div .navbar-nav > li > a {
		padding: 10px;
		color: #000;
	}
	.logo-img {
		box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.25); z-index:9999;
	}
	.footer-div i.fab {
		padding: 10px 10px;
		margin: 0 4px 0 0;
	}
	/* end of middle container */

	/*********************************************************************************************************/

	.carousel .testimonial {
		padding: 40px 75px;
		color: #fff;
		letter-spacing: 1px;
		font-weight: 400;
		min-height: 210px;
		line-height: 1.6;
		text-align: center;
	}
	.header-div {	position: relative;background-color: transparent;z-index: 100;padding-bottom: 15px;}
	.navbar-toggle {
		float: right;
		margin-top: 20px;
		margin-right: 9px;
		background: #000000!important;
		border: 0;
		border-radius: 4px!important;
	}
	.logo-img {
		box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.0);
		z-index: 99;
	}
	/* .header-div .logo-div img {
		width: 50%;
	} */
	.navbar-header {
		float: none;
		padding: 20px;
	}

	/*.banner_img {
		background-image: url(images/banner-1.jpg);
		height: 380px;
		background-position: top right;
		background-repeat: no-repeat;
		background-size: cover;
	}*/
	.readmore_div .image-div {
		padding: 35px 0;
		text-align: center;
		margin: 0px 0 0 0;
		min-height: 160px;
	}
	.readmore_div {
		margin: 0;
		padding: 30px 5px;
		position: relative;
	}
	.readmore_div .bg-1 {
		background-color: rgba(144, 209, 167, 1);
		margin-bottom: 25px;
	}
	.readmore_div .bg-2 {
		background-color: rgba(199, 230, 161, 1);
		margin-bottom: 25px;
	}
	.readmore_div .bg-3 {
		background-color: rgba(213, 239, 193, 1);
		margin-bottom: 25px;
	}
	.header-div {
		margin: 0;
		padding: 0px;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
		background-color: transparent;
		height: 80px;
	}
	.logo-div {
		margin-top: 10px;
	}
	.margin-top-180{margin-top: 30px;}

	.banner-content-div {
		margin: 0px 0 0 0;
		padding: 120px 0 0 0;
		position: relative;
	}
	.banner-content-div h2{font-size: 32px;margin: 10px 0 0 0;}

	.btn-ready {
		padding: 10px 15px !important;
		font-size: 14px!important;
	}
	.btn-div {
		margin: 20px 0 10px 0;
		padding: 0px 0px 0 0;
		position: relative;
	}
	.difference_div h2 {
		margin: 0 0 20px 0!important;
		font-size: 26px!important;
		text-align: center!important;
	}
	.difference_div .difference_content h2 {
		font-size: 18px!important;
	}
	.difference_div .difference_content p {
		font-size: 14px;
	}
	.difference_div .difference_content {
		margin: 0;
		padding: 0 15px;
		position: relative;
	}
	difference_div .difference_content h2 {
		margin: 0 0 20px 0!important;
		padding: 0;
		font-size: 14px!important;
		text-align: center;
	}
	.difference_div {
		margin: 0;
		padding: 20px 0 50px 0;
		position: relative;
	}
	.services_div .div-row h3 {
		margin: 0 0 25px 0;
		padding: 25px 15px 15px 15px;
		font-size: 24px;
		color: #771351;
		text-transform: uppercase;
		text-align: center;
	}
	.services_div h2{
		font-size: 26px;
	}
	.donating_div h2 {
		color: #222222;
		font-size: 26px!important;
	}
	.donating_div .donating_content h3 {
		font-size: 14px!important;
	}
	.donating_div .donating_content h4 {
		font-size: 16px!important;
	}

	.info-div label {
		font-size: 14px!important;
	}
	.btn-time {
		padding: 15px 25px 15px 20px!important;
		font-size: 14px!important;
		font-weight: 400;
		text-align: center;
		background-color: #222;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 2px;
		border-radius: 0px!important;
		transition: all 350ms ease-in-out;
		margin: 0 12px 0 0;
	}
	.address_div .img-div-icon .span-2 {
		font-size: 14px!important;
	}
	.address_div .img-div-icon .span-1 {
		margin: 0;
		padding: 0;
		display: block;
		float: right;
		width: 20px;
		padding-top: 10px;
	}
	.address_div .img-div-icon .span-3 {
		font-size: 14px;
	}
	
	.connect_div {
		margin: 0;
		padding: 50px 0 00px 0;
		position: relative;
	}	
	.connect_div h2 {
		font-size: 26px;
	}
	.address_div h2 {
		font-size: 26px;
	}
	.address_div {
		margin: 0;
		padding: 0px 0 00px 0;
		position: relative;
	}
	.connect_content textarea.form-control {
		height: 88px;
		resize: none;
	}
	.testimonial_div h2 {
		margin: 50px 0 50px 0;
		padding: 10px 0;
		font-size: 26px;
	}
	.carousel .testimonial {
		padding: 0;
		min-height: 210px;
	}
	.carousel .overview .span-1 {
		text-transform: uppercase;
		color: #fff;
		font-size: 14px;
		padding: 10px 0 5px 0;
		text-align: center;
		display: block;
	}
	.carousel .overview .span-2 {
		text-transform: capitalize;
		color: #6d7a9d;
		font-size: 14px;
		padding: 0 10px;
		line-height: 1.4;
		padding: 10px 0 0 0;
	}
	.carousel {
		margin: 50px auto;
		padding: 0 50px;
	}
	.carousel-control.right {
		right: 10px;
		left: auto;
	}
	
	.fixed-header {
		margin: 0;
		padding: 0px;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
		background-color: white;
		height: 100px;
	}

	.header-div .logo-div img {
		width: 50%;
	}
	.header-div {
		background-color: rgba(255, 255, 255, 0);
		height: 105px;
	}
	.footer-div .form-control {
		border-right: 1px solid #fff;
	}
	.btn-sign-up {
		border-left: 1px solid #fff;
	}
	.img-responsive.img-right {
		text-align: center;
		margin: 0 auto;
		float: none;
	}
	.services_div .services_content .div-1 p {
		font-size: 14px;
	}
	.services_div .services_content .div-1 {
		margin: 0;
		padding: 29px;
		min-height: 500px;
	}

	.nav-div .navbar-nav {
		margin: 30px 0 30px 0;
		padding: 0;
		float: left;
	}

	.fixed-header {
		margin: 0;
		padding: 0px;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
		background-color: #6d7a9d!important;
		height: 100px!important;
	}
	.services_div .services_content .div-1 {
		margin: 0;
		padding: 29px;
		min-height: 200px;
	}
	.services_div .services_content .div-2{min-height: 500px;}
	.services_div .services_content .div-3{min-height: 500px;}
	.services_div {
		margin: 0;
		padding: 50px 0 50px 0;
		position: relative;
	}
	.border-star {
		padding: 0 0 18px 0px !important;
	}
	.difference_div .difference_content p {
		margin: 0;
		padding: 0 0 10px 0;
	}
	.footer-div .footer-top h3 {
		font-size: 18px;
		line-height: 1.4;
		padding: 0 0 15px 0px !important;
		margin: 0 0 20px 0px!important;
	}
	.nav-div .navbar-nav > li.active a {
		background-image: none !important;
	}
	.logo-div-all .logo-all {
		width: 52%;
	}
	/* .footer-div .footer-top p {
		margin: 0;
		padding: 20px 0 0 0;
	} */
	.nav-div .navbar-nav > li.active a {
		padding: 10px 0 10px 10px !important;
	}
	.div-1.p-0.bg-none{min-height: 500px;}
	.div-1.p-0.bg-black-pure{min-height: 100%;padding: 10px 30px 40px 30px!important;}

	/* map */
	#map {
		height: 300px;
		margin-bottom: 20px;
	}
	.b-space {
		width: 100px;;
		display: block;
		text-align: left;
	}
	.font-auto{font-size: 14px!important;width: 50%;float: left;}
	/**********************************************************************************************************/
	
}


@media only screen and (width: 980px){

}
@media only screen and (width: 1024px){
.container { width:100% !important;}
	html, body { overflow-x:hidden;}
	.canvas { margin:0!important; padding:0!important;}
	
	.nav-div .navbar-nav > li > a { padding:10px 8px; }
	
}

@media only screen and (min-width: 900px) and (max-width: 1440px) {
	.services_div .services_content .div-2 {
		min-height: 580px;
	}
	.services_div .services_content .div-3 {
		min-height: 580px;
	}
	.services_div .services_content .div-1{
		min-height: 580px;
	}
	.address_div .address_content {
		display: block;
		float: left;
	}
}

.border-star{
	border-bottom: 10px solid transparent;
    padding: 0 15px;
    -webkit-border-image: url(border-start.png) 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(border-start.png) 30 stretch; /* Opera 11-12.1 */
    border-image: url(border-start.png) 30 stretch;
}

/* scroll */

.fixed-header {
    margin: 0;
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #fff;
    height: 130px;
}
.logo-div-1 {
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    margin-top: 5px;
    z-index: 15;
}
.logo-div .logo-img-1{width: 80%;}

ul.upperLetter{
	text-transform: uppercase;
}

.custom-amount:hover{
	cursor: pointer;
	text-decoration: underline;
}
#total_amount::before{
	content: '$'
}

/* .fixed-header {
    background-color: #fff;
    z-index: 100;
    padding-bottom: 0px;
} */

